<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="replyMapper">
	<!-- resultMap 작성 -->
	<resultMap type="dto.ReplyDTO" id="reply">
		<result column="REPLY_NUM" 		property="replyNum"/>
		<result column="CONTENT" 		property="content"/>
		<result column="CREATE_DATE" 	property="createDate"/>
		<result column="MEMBER_ID" 		property="memberId"/>
		<result column="BOARD_NUM" 		property="boardNum"/>
	</resultMap>
	
	<!-- 쿼리작성 -->
	<insert id="insertReply">
	INSERT INTO REPLY(
                        REPLY_NUM
                        , CONTENT
                        , CREATE_DATE
                        , MEMBER_ID
                        , BOARD_NUM)
            VALUES(
            (SELECT NVL(MAX(REPLY_NUM) + 1, 1) FROM REPLY)
			, #{content}
			, SYSDATE
			, #{memberId}
			, #{boardNum}
			)
	</insert>
	
	<select id="selectReplyAll" resultMap="reply">
		SELECT 	REPLY_NUM
				, CONTENT
				, TO_CHAR(SYSDATE, 'YYYY.MM.DD. HH24:MI') AS CREATE_DATE
				, MEMBER_ID
				, BOARD_NUM
		FROM REPLY
		WHERE BOARD_NUM = #{boardNum}
		ORDER BY REPLY_NUM DESC
	</select>
	
	<delete id="deleteReply">
		DELETE REPLY
		WHERE BOARD_NUM = #{boardNum}
	</delete>	
	
</mapper>